services:
  - type: web
    name: zync-server
    env: node
    root: server
    buildCommand: npm install
    startCommand: node index.js
    plan: free
    envVars:
      - key: PORT
        value: "10000"
